.design-table{
    width: 80%;
    font-size: 14px;
    margin: 0 auto;
}
.design-table caption{
    position: relative;
    margin-bottom: 13px;
    padding-left: 15px;
    color: inherit;
    text-align: left;
    font-size: 16px;
}
/* .design-table caption::before{
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    margin-right: 9px;
    top: 8px;
    left: -1px;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #00a8cd;
} */
.design-table > table{
    width: 100%;
    height: 39px;
    border-bottom:1px solid #9d9d9d;
    border-collapse: collapse;
}
.design-table > table > thead{
    border-left:1px solid #9d9d9d;
    border-right:1px solid #9d9d9d;
}
.design-table > table > tbody{
    border-left:1px solid #9d9d9d;
    border-right:1px solid #9d9d9d;
}
.design-table > table > thead > tr > th{
    border-left:1px solid #9d9d9d;
    border-top:1px solid #9d9d9d;
}
.design-table > table > caption + thead > tr:FIRST-CHILD > th,
.design-table > table > caption + colgroup + thead > tr:FIRST-CHILD > th{
    padding: 12px 0;
}
.design-table > table > tbody > tr > td {
    padding: 12px 0;
    text-align: center;
    border-left: 1px solid #9d9d9d;
    border-top: 1px solid #9d9d9d;
}
.design-table > table > thead + tbody > tr:FIRST-CHILD > td,
.design-table > table > thead + tbody > tr:FIRST-CHILD > th {
    border-top: 1px solid #9d9d9d;
}
.design-table > table td:FIRST-CHILD,
.design-table > table th:FIRST-CHILD {
    border-left: 0;
}
.design-table > table > tbody th:FIRST-CHILD + th,
.design-table > table > tbody th.not-first-child {
    background-color: #fff
}

@media(max-width: 1024px) {
    
}